@media only screen and (min-width: 641px) and (max-width: 1024px) {

    #allplaces div {
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph location";
    }

    #allplaces div img {
        width: 300px;
    }
} /*end of media query */