/* === Global === */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header,
footer {
    background: #003366;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Navigation */
#menuBtn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.hidden {
    display: none;
}

.hidden {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* for desktop view */
    gap: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 0;
    }
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

/* Directory Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.list {
    display: block;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    background: #7cc8d7;
}

.card img {
    width: 100%;
    height: auto;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
}

.social img {

    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;

}



