@media only screen and (min-width: 320px) and (max-width: 1200px) {
    html, body {
    overflow-x: hidden;
        /* ✅ Hides horizontal scroll */
        width: 100%;
        /* Ensures elements don’t stretch past the viewport */
    }
    /* header, main, nav, footer {
        max-width: 900px;
        to center the title bar */
        /* margin: 0 auto; */
    }
        /* 38 rem is about 608 pixels (38 x 16 fontsize) */
    
.hamburger {
    display: none;
}
.navigation {
    display: block;
    border-bottom: solid 1px #eee;
}

.navigation ul {
    display: flex;
}

.navigation a {
    border: none;
}


.mainpage {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    align-content: center;
}

/* section {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
}

section h2 {
    background-color: #444;
    color: white;
    padding: 8px;
    margin-top: 0;
} */