@media (min-width: 768px) {

      /* Desktop menu */
    .desktop-menu {
        display: block;
    }

    /* Hide mobile menu on desktop */
    .mobile-menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    /* Make the Medicine Access section two columns */
    .medicine-info {
        grid-template-columns: 1fr 1fr;
    }
    
    /* Ensure resource cards look good on wider screens */
    .resource-card {
        padding: 25px;
    }

    
    

}