@media (min-width: 320px) {

      /* Desktop menu */
    .desktop-menu {
        display: none;
    }

    /* Shows the hamburger icon/menu button */
    .menu-button {
        display: block;
        /* or inline-block */
    }

    .mobile-menu {
        display: block;
    }

        /* section {
            padding: 16px;
        } */
body {
    min-width: 320px;
}

}
